version: '3'
services:
  worker:
    container_name: worker
    build: .
    command: "bundle exec sidekiq"
    env_file: "worker.env"
    depends_on:
      - redis
    links:
      - redis
    volumes:
      - /tmp/workspace:/tmp/workspace
    network_mode: bridge

  redis:
    container_name: redis
    image: "bitnami/redis:4.0"
    env_file: "redis.env"
    ports:
      - '6379:6379'
    network_mode: bridge
